.picture {
  text-align: center;
  height: 30vh;
}

.picture img {
  height: 100%;
}

/*   =============================
				 Media queries
		 =============================
*/

@media screen and (max-width: 1000px) {
  .picture {
    text-align: left;
    margin-left: 10vw;
  }
}

@media screen and (max-width: 730px) {
  .picture {
    text-align: center;
    margin-left: auto;
    height: 15vh;
  }
}
