.stars-container {
  width: 4vw;
  margin-right: 1vw;
  background-color: inherit;
  border: inherit;
  cursor: pointer;
}

.stars-container-yellow {
  width: 4vw;
  margin-right: 1vw;
  border: inherit;
  cursor: pointer;
  background-color: red;
}
