.perso-card-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
}

.container-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  line-height: 2.5vh;
  margin-bottom: 7vh;
}

h2 {
  color: white;
}

.displayNone {
  display: none;
}

.playlist-perso-container {
  margin: 50px 0 50px 0;
  border: black;
  background: linear-gradient(140deg, #774cd3, #ae2aa9);
  width: 40%;
  height: 200px;
  border-radius: 15px;
  padding-bottom: 20px;
}

.playlist-perso-card-reduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px 50px 0;
  border: black;
  background: linear-gradient(140deg, #774cd3, #ae2aa9);
  width: 40%;
  height: 70px;
  border-radius: 15px;
}

.flex-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
}

.playlist-perso-container label {
  margin-bottom: 50px;
}

.inter-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
  padding-top: 2%;
}

.icone-theme {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border-radius: 3px;
  color: white;
  background-color: rgb(32, 32, 32);
}

.playlist-submit {
  width: 80%;
  height: 20px;
  border: none;
  outline: none;
  color: white;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  font-size: 15px;
  font-style: bold;
}

#playlist-deezer {
  border-radius: 5px;
  width: 80%;
}

.tuto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: justify;
  background-color: rgb(53, 53, 53, 0.9);
  border-radius: 20px;
  color: white;
  width: 40%;
  height: auto;
  padding: 15px 15px 15px 15px;
}

.tuto p {
  margin-top: 10px;
}

.check-class {
  height: 40px;
  width: auto;
}

/*       =============================
				 Media queries TABLETTE
		 =============================
*/
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .perso-card-container {
    width: 100%;
  }

  .playlist-perso-card-reduct {
    width: 350px;
    font-size: 8px;
  }
}

/*       =============================
				 Media queries TABLETTE
		 =============================
*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .tuto {
    height: auto;
    font-size: 12px;
  }

  .tuto h3 {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .tuto {
    font-size: 15px;
  }
}


/*       =============================
				 Media queries MOBILE
		 =============================
*/
@media screen and (max-width: 800px) {
  .flex-card-container {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 600px) {
  .perso-card-container {
    display: flex;
    justify-content: center;
    padding-right: 0;
  }

  .playlist-perso-card-reduct {
    width: 90%;
    font-size: 8px;
    margin: 3vh 0 3vh 0;
    height: 7vh;
  }

  .playlist-perso-container {
    margin: 2vh 2vw 5vh 2vw;
    width: 80%;
    height: 150px;
    border-radius: 10px;
    padding-bottom: 2vh;
  }

  .container-cards {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    margin-bottom: 5vh;
  }

  .tuto {
    border-radius: 10px;
    width: 90%;
    height: auto;
    padding: 8px 8px 8px 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .playlist-perso-card-reduct button {
    font-size: 12px;
  }
}
