html {
  scroll-behavior: smooth;
}

.theme-title {
  font-size: 30px;
  color: white;
}

.themes-page-container {
  display: flex;
  flex-direction: column;
  padding: 50px 100px 50px 100px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../Accueil/home-img.jpg");
  background-size: cover;
  overflow-x: hidden;
  
}

#perso-card {
  width: 100%;
}

.a-container {
  width: 100%;
}

.theme-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.item3 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.item4 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.item5 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.item6 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.item7 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.item8 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.difficulty-container {
  display: flex;
  margin-top: 3vh;
}

.go-quiz-container {
  display: flex;
  justify-content: center;
  margin: 100px 0 100px 0;
}


/*       =============================
				 Media queries TABLETTE
		 =============================
*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .themes-page-container {
    padding: 0 0 0 0;
  }

  .theme-title {
    margin-left: 50px;
  }

  .playlist-perso-container {
    min-width: 280px;
  }
}

/*       =============================
				 Media queries MOBILE
		 =============================
*/

@media screen and (max-width: 600px) {
  .theme-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .themes-page-container {
    padding: 5px 0 5px 0;
  }

  .theme-title {
    font-size: 18px;
    color: white;
    margin-left: 7vw;
  }
}
