.main-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../Accueil/home-img.jpg");
  background-size: cover;
  min-height: 100vh;
}

.gauge-container {
  padding: 10vh 0;
}

.result-gauge {
  color: white;
  margin: 1vh 20vh;
  height: 4vh;
  font-size: 1.5vw;
  text-align: center;
  border-radius: 50px;
  position: relative;
  background-color: white;
}

.gauge-text,
.gauge-current-score {
  position: absolute;
  color: rgb(255, 255, 255);
}

.gauge-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 30px;
  top: 6vh;
}

.gauge-text.left {
  left: 0;
}

.gauge-text.right {
  right: 1vw;
}

svg.gauge-current-score {
  font-size: 10vh;
  top: -7vh;
  stroke: rgba(0, 0, 0, 0.781);
  stroke-width: 15px;
  transform: scale(1, 1.5);
}

.result-table-container {
  background: linear-gradient(140deg, #774cd3, #ae2aa9);
  width: 80%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  padding: 5vh;
  font-size: 1.5vw;
}

.result-title {
  padding-bottom: 5vh;
  color: white;
}

.result-table {
  background-color: white;
  margin: auto;
  width: 90%;
}

.result-table,
.result-table th,
.result-table td {
  border: 2px solid black;
  padding: 2vh;
}

.result-table th {
  width: 20%;
}

.result-stars-container > * {
  width: 15%;
  border: none;
  margin-right: 0;
}

@media screen and (max-width: 600px) {
  .gauge-container {
    display: none;
    visibility: hidden;
  }
}
