.header-nav {
  display: flex;
  height: 8vw;
}

.header-nav-logo {
  display: flex;
  justify-content: center;
  background-color: #774cd3;
  width: 10%;
}

.header-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 90%;
  background: linear-gradient(90deg, #774cd3, #ae2aa9);
}

.header-nav-links {
  display: flex;
}

.header-nav-links li {
  padding-right: 2vw;
  padding-bottom: 1.5vw;
  color: white;
  font-weight: bold;
}

.header-nav-links-a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

/*       =============================
				 Media queries
		 =============================
*/
@media screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-nav-logo {
    padding-left: 3vw;
  }

  .header-nav {
    height: 12vw;
    background: linear-gradient(90deg, #774cd3, #ae2aa9);
  }

  .header-navbar {
    display: none;
  }

  .navbar-burger {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: 65vw;
    padding: 1rem;
  }

  .burger-line,
  .burger-line::before,
  .burger-line::after {
    display: block;
    width: 40px;
    height: 4px;
    position: relative;
    right: -30px;
    border-radius: 3px;
    background: white;
    transition: all 0.5s ease-in-out;
  }

  .burger-line::before,
  .burger-line::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger-line::before {
    transform: translateY(12px);
  }

  .burger-line::after {
    transform: translateY(-12px);
  }

  .active .burger-line {
    background: transparent;
    width: 0;
  }

  .active .burger-line::before {
    transform: rotate(45deg);
  }

  .active .burger-line::after {
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 500px) {
  .burger-line,
  .burger-line::before,
  .burger-line::after {
    right: 20px;
  }

  .header-nav {
    height: 50px;
  }

  .header-nav-logo {
    margin-left: 4vw;
  }
}
