.footer-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(140deg, #774cd3, #ae2aa9);
  padding: 1%;
}

.social {
  font-size: 60px;
}

/*       =============================
				 Media queries
		 =============================
*/

@media screen and  (max-width: 1014px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .social {
    justify-content: center;
    font-size: 30px;
  }
}
