.footer-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(140deg, #774cd3, #ae2aa9);
  padding: 1%;
  margin-top: 5%;
}

#email {
  border-bottom: 2px solid black;
  border-radius: 15px;
  width: 22%;
  height: 24px;
  margin-left: 1.2%;
  margin-top: 1%;
}

button {
  border-radius: 15px;
  box-shadow: 10px 2px solid black;
  margin-left: 1.2%;
  width: 15%;
  margin-top: 1%;
  width: 15%;
  height: 28px;
}

.social {
  margin-left: 40%;
  font-size: 60px;
}
